@import "tailwindcss";

/* TinyTrek Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(185, 28, 28, 0.4); /* red-700 */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(239, 68, 68, 0.7); /* red-500 */
}